---
layout: default
title: Home
permalink: /index.html
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in collections.posts reversed %}
      <li>
        {% capture date_format %}{{ site.date_format | default: "%b %-d, %Y" }}{% endcapture %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: nav.baseurl }}">{{ post.data.title }}</a>
        </h2>
        {% if site.excerpt_truncate %}
          <p>{{ post.content | strip_html | truncatewords: site.excerpt_truncate,"&hellip;" }}
          <a class="more" href="{{ post.url | prepend: nav.baseurl }}">More<i class="sr-only"> on {{ post.data.title }}</i></a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
