<my-analytics
  analytics-id={{ site.js_config.analytics_id | jsonify}}
  anonymize-ip="true"
  no-cookies="true"
></my-analytics>

<my-site-counter gcid="ndf812"></my-site-counter>

<script type="importmap">
{
  "imports": {
    "@vimeo/player": "https://unpkg.com/@vimeo/player@2.30.3/dist/player.es.js",
    "ghp:ndf-elements/i.js": "https://nfreear.github.io/elements/i.js",
    "unpkg:ndf-elements/i.js": "https://unpkg.com/ndf-elements@^1/i.js"
  },
  "myElements": {
    "use": [
      "my-analytics", "my-codepen-embed", "my-loom-embed", "my-search",
      "my-site-counter", "my-skip-link", "my-transcript"
      , "my-open-badge", "my-vimeo-embed", "my-sharing-widget"
    ]
  }
}
</script>

<script type="module">
  import 'ghp:ndf-elements/i.js';
</script>
