<my-analytics
  analytics-id={{ site.js_config.analytics_id | jsonify}}
  anonymize-ip="true"
  no-cookies="true"
></my-analytics>

<my-site-counter gcid="ndf812"></my-site-counter>

<script type="importmap">
{
  "imports": {
    "ghp:my-elements": "https://nfreear.github.io/elements/i.js",
    "unpkg:my-elements": "https://unpkg.com/ndf-elements@^1/i.js"
  },
  "myElements": {
    "use": [
      "my-analytics", "my-codepen-embed", "my-loom-embed", "my-search",
      "my-site-counter", "my-skip-link", "my-transcript"
      , "my-open-badge"
    ]
  }
}
</script>

<script type="module">
  import 'ghp:my-elements';
</script>
